In [1]:
# library (readr)
import pandas as pd
url="https://raw.githubusercontent.com/codebasics/py/master/ML/14_naive_bayes/spam.csv"
# urlfile="https://raw.githubusercontent.com/codebasics/py/master/ML/9_decision_tree/Exercise/titanic.csv"
df=pd.read_csv(url)

# mydata<-read_csv(url(urlfile))

In [2]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [4]:
df.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [5]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [6]:
dummies=pd.get_dummies(df.Category)

In [7]:
# dummies=dummies.drop(['ham'], axis=1, inplace=True)

In [8]:
dummies.drop(['ham'], axis=1, inplace=True)

In [9]:
dummies

      spam
0        0
1        0
2        1
3        0
4        0
...    ...
5567     1
5568     0
5569     0
5570     0
5571     0

[5572 rows x 1 columns]

In [10]:
df['Spam']=dummies

In [11]:
df.drop(['Category'], axis=1, inplace=True)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Message  5572 non-null   object
 1   Spam     5572 non-null   uint8
dtypes: object(1), uint8(1)
memory usage: 49.1+ KB

In [48]:
from sklearn.model_selection import train_test_split
x_train,  x_test, y_train,y_test=train_test_split(df.Message,df.Spam , test_size=0.25)
len(y_train)

4179

In [14]:
from sklearn.feature_extraction.text import CountVectorizer

In [58]:
v=CountVectorizer()
x_train_count=v.fit_transform(x_train.values)
x_train_count.toarray()
# x_test_count=v.fit_transform(x_test.values).toarray()
# y_test_count=v.fit_transform(y_test.values).toarray()
# len(x_train_count)

# x_train_count[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [52]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train_count, y_train)

MultinomialNB()

In [62]:
x_test_count = v.transform(x_test)
model.score(x_test_count, y_test)

0.9849246231155779

In [60]:
emails=['Hello, Last-Minute Party-Wear Shoppers!', 'Win a Lifetime account in Proton’s Charity Fundraiser!']
email_count=v.transform(emails)

y=model.predict(email_count)

In [66]:
for i in y:
    if i==1:
        print('"'+emails[i]+'"', "---> Spam email")
    if i==0:
        print('"'+emails[i]+'"', "---> Not a spam email")

"Hello, Last-Minute Party-Wear Shoppers!" ---> Not a spam email
"Win a Lifetime account in Proton’s Charity Fundraiser!" ---> Spam email

# Creating a pipeline

In [71]:
from sklearn.pipeline import Pipeline
clf=Pipeline([('vectorizer', CountVectorizer()),
              ('nb', MultinomialNB())])

In [72]:
clf.fit(x_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [74]:
clf.score(x_test, y_test)

0.9849246231155779

In [75]:
y=clf.predict(emails)

array([0, 1], dtype=uint8)

In [76]:
for i in y:
    if i==1:
        print('"'+emails[i]+'"', "---> Spam email")
    if i==0:
        print('"'+emails[i]+'"', "---> Not a spam email")

"Hello, Last-Minute Party-Wear Shoppers!" ---> Not a spam email
"Win a Lifetime account in Proton’s Charity Fundraiser!" ---> Spam email